@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

#banner{
    width: 100%;
    background-image: url('../images/banner1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; /* ajusta según necesidad */
    color: white; /* para que el texto sea legible */
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-dark{
    filter:brightness(0.6);
}

@media(min-width:0px){
    #banner{
        height: 200px;
    }
}


@media(min-width:768px){
    #banner{
        height: 300px;
    }
}

@media(min-width:992px){
    #banner{
        height: 400px;
    }
}