@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}

#banner{
    width: 100%;
    background-image: url('../images/banner1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; /* ajusta según necesidad */
    color: white; /* para que el texto sea legible */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar transparente por defecto */
.navbar-scroll {
  transition:background-color 0.4s ease, box-shadow 0.4s ease;
  background-color: transparent;
}

/* Estado al hacer scroll */
nav.navbar.navbar-scroll.scrolled {
  background-color: rgba(0,0,0,0.85); /* color sólido, ajusta a tu marca */
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Opcional: cambia color de links cuando el fondo es oscuro */
.navbar-scroll.scrolled .nav-link,
.navbar-scroll.scrolled .navbar-brand {
  color: #fff;
}




.banner-dark{
    filter:brightness(0.6);
}

footer a.personallinks{
    text-decoration: none;
    color:white;
}

.footer-dark {
  background-color: #2e3a46; /* gris azulado oscuro, ajusta a tu marca */
}

@media(min-width:0px){
    #banner{
        height: 200px;
    }
}


@media(min-width:768px){
    #banner{
        height: 300px;
    }
}

@media(min-width:992px){
    #banner{
        height: 400px;
    }
}